<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WcatIndexDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <WcatIndexDownload.Properties.Settings>
            <setting name="SavePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="exclude" serializeAs="String">
                <value>prefab,fbx</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value/>
            </setting>
            <setting name="UnPrefab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Convert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DLLength" serializeAs="String">
                <value>2</value>
            </setting>
        </WcatIndexDownload.Properties.Settings>
    </userSettings>
</configuration>
